.img-thumbnail{
    height: 50px;
    width: 50px;
}
.container{
    height: 150px;
    background-image: linear-gradien(grey);
}
ul>li{
    display: inline;
}
li{
    margin: 15px;
}
a{
    margin: 10px;
    font-size: 1em;
}